{% extends "base.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ form.media }}
{% endblock %}
{% block contenido %}


<h3>Generaci&oacute;n de Informes</h3>
<div class="myform" id="stylized">
<form method="post" action=".">
	<table>
		{{ form }}
		{% csrf_token %}
		<tr><td colspan="2"><input type='submit' class="button" value='Generar Informe'></td></tr>
	</table>
</form>
</div>
{% endblock %}