{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="contenedor">
	<div><img src="{% static 'img/logo_prin.gif' %}" width="730" height="120"></div>
	<div class="titulo">
		KAGeSys- "Sistema de Gesti&oacute;n de Pacientes de la Fundaci&oacute;n Ku&ntilde;a Aty"
	</div>
	<div class="comentario">
		<p><strong>KAGESYS</strong></p>
		<p align="justify">  Esta aplicación es una herramienta que permite a los funcionarios de la Fundación a gestionar los pacientes victimas de abusos/violencia que son asistidos en la misma</p>
		<p align="justify">Tiene por objeto registrar y almacenar informaci&oacute;n sobre las victimas que son atendidas con fines estad&iacute;sticos y de seguimiento de casos, así como la optimización de la gestión.</p>
	</div>
	<div id="autentica">
		Autenticaci&oacute;n
		<form name="login" action="{% url 'django.contrib.auth.views.login' %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btnlogin" value="Entrar" />
		</form>
	</div>
</div>
{% endblock contenido %}