{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
	<ul class="tipo">
		<li><a href="{% url 'backup' %}">Backup</a></li>
		<li><a href="{% url 'fichero' %}">Revisar Fichero</a></li>
		<li><a href="{% url 'usuariosListado' %}">Ver Usuarios</a></li>
		<li><a href="{% url 'registrar' %}">Crear Nuevo Usuario</a></li>
	</ul>
{% endblock %}



