{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ form.media }}
{% endblock %}
{% block columnaIzq %}
<ul class="tipo">
		<li><a href="{% url 'backup' %}">Backup</a></li>
		<li><a href="{% url 'fichero' %}">Revisar Fichero</a></li>
		<li><a href="{% url 'usuariosListado' %}">Ver Usuarios</a></li>
		<li><a href="{% url 'registrar' %}">Crear Nuevo Usuario</a></li>
	</ul>
{% endblock %}
{% block columnaDer %}


<div class="myform" id="stylized">
<h3>Crear Nuevo Usuario</h3>
<form id="crearusuario" method="post" action=".">
<table>
	{{ form.as_table }}
</table>
{% if extras %}
{% for f in extras %}
	{% if f.titulo %}
		<h3>{{ f.titulo }}</h3>
	{% endif %}
	<table>
		{{ f }}
	</table>
{% endfor %}
{% endif %}
{% csrf_token %}
<input type="submit" class="button" value="Guardar" />
</form>
</div>
<script>
	$("#crearusuario").validate({
		rules: {
			username: {
				required: true,
				minlength: 4
			},
			password1: {
				required: true,
				minlength: 6
			},
			password2: {
				required: true,
				minlength: 6,
				equalTo: "#id_password1"
			},
			email: {
				required: true,
				email: true
			}
		},
		messages: {
			username: {
				required: "Por favor, ingrese un nombre de Usuario",
				minlength: "El nombre de usuario debe tener 4 caracteres como  minimo"
			},
			password1: {
				required: "Por favor, proporcione una contraseña",
				minlength: "Su contraseña debe tener al menos 6 caracteres"
			},
			password2: {
				required: "Por favor, introduzca la misma contraseña para confirmar.",
				minlength: "Su contraseña debe tener 6 caracteres como minimo",
				equalTo: "Introduzca la misma contraseña"
			},
			email: "Por favor, ingrese una dirección de correo válido"
		}
	});
	</script>
	</div>
{% endblock %}