{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
<ul class="tipo">
		<li><a href="{% url 'backup' %}">Backup</a></li>
		<li><a href="{% url 'fichero' %}">Revisar Fichero</a></li>
		<li><a href="{% url 'usuariosListado' %}">Ver Usuarios</a></li>
		<li><a href="{% url 'registrar' %}">Crear Nuevo Usuario</a></li>
	</ul>
{% endblock %}
{% block columnaDer %}
<div class="data">
	<table>
	<thead>
		<tr>
			<th>Hora</th>
			<th>Usuario</th>
			<th>Dirección</th>
		</tr>
		<!-- {% include 'partes/paginas.html' with pg=fichero %} -->
	</thead>
	<tbody>
	{% for actividad in fichero %}
		<tr>
			<td>{{ actividad.tiempo }}</td>
			<td>{{ actividad.usuario }}</td>
			<td>{{ actividad.url }}</td>
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
		{% include 'partes/paginas.html' with pg=fichero %}
	</tfoot>
	</table>
</div>
{% endblock %}