{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
<ul class="tipo">
		<li><a href="{% url 'backup' %}">Backup</a></li>
		<li><a href="{% url 'fichero' %}">Revisar Fichero</a></li>
		<li><a href="{% url 'usuariosListado' %}">Ver Usuarios</a></li>
		<li><a href="{% url 'registrar' %}">Crear Nuevo Usuario</a></li>
	</ul>
{% endblock %}
{% block columnaDer %}
<div class="data">
	<h1>Usuarios Activos</h1>
	<div class="datagrid">
	<table>
		<thead>
			<tr><th>Administrador</th><th>Cuenta</th><th>Tipo</th><th>Especialidad</th><th colspan="2">Acciones</th></tr>
		</thead>
		<tbody>
		{% for usuario in usuariosActivos %}
		<tr>
			<td>{% if usuario.is_staff %}Sí{% else %}No{% endif %}</td>
			<td>{{usuario.username}}</td>
			<td>{{ usuario.get_tipo_display }}</td>
            <td>{{ usuario.get_Especialidad_display }}</td>
			<td><a href="{% url 'cambiarContrasenha' usuario_pk=usuario.pk %}">Cambiar contraseña</a></td>
			<td><a href="{% url 'bloquearCuenta' %}?usuario={{ usuario.pk }}">Bloquear</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<h1>Usuarios No Activos</h1>
	<table>
		<thead>
			<tr><th>Administrador</th><th>Cuenta</th><th>Tipo</th><th>Especialidad</th><th>Acciones</th></tr>
		</thead>
		<tbody>
		{% for usuario in usuariosInactivos %}
		<tr>
			<td>{% if usuario.is_staff %}Sí{% else %}No{% endif %}</td>
			<td>{{usuario.username}}</td>
			<td>{{ usuario.get_tipo_display}}</td>
            <td>{{ usuario.get_Especialidad_display }}</td>
			<td><a href="{% url 'habilitarCuenta' %}?usuario={{ usuario.pk }}">Habilitar</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}