{% extends "base.html" %}
{% load static %}
{% block contenido %}
<h1>Ficha Social</h1>
<form method="POST" action="{% url 'generarinforme' %}">
	<table>
		{{ form.as_table }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Guardar" />
</form>
{% endblock %}
