.nuevo{color:#CC0000}
body {
background: #e7dfed repeat;
padding:150px;
padding-bottom:150px;
padding-top:10px;
margin-top: 40px;
font-family: Verdana, "Trebuchet MS", Tahoma, sans-serif;
}

div.ingresar{
background:white;
position:absolute;
top:0px;
right:0px;
width:200px;
height:50px;
color: black;
border: 1px solid gray;


}
h3 {
	color: #911f26;
	font-size:18px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	 
}
h1 {
	color: black;
	font-size:18px;
	font:normal;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	
	
}

.buscar {
  margin:8px 8px;
  font:bold 14px/150% Arial, Helvetica, sans-serif;
  padding:20px;
  
  }

#estilob{
border:solid 1px #853457;
background:#fff;
font: normal 14px/180% Arial, Helvetica, sans-serif;

}

  
}
/*------------------------------------------------------------------------------------------------*/

#menuhorizontal {
  float:left;
  width:100%;
  padding:0px;
  margin:0px;
  list-style-type:none;
}
#menuhorizontal a {
  float:left;
  width:auto;
  text-decoration:none;
  text-align:center;
  color:#000000;
  background-color:white;
  padding:3px 5px;
  border-right:1px solid white;
}
#menuhorizontal a:hover {
  background-color:#336699;
}
.menuhorizontal li {
  display:inline;
}
#contenedorform {
  width:500px; 
  margin-left:20px; 
  margin-top:10px;
  background-color:#ffe;
  border:1px solid #CCC;
  padding:10px 0 10px 0;
  
  
}
/*------------------------------------------------------------------------------------------------*/

.container1
{
	width: 1160px;
	margin:auto;
	height: 450px;
	display: block;
	border: solid 1px #853457;
	margin-top: 250px;
	font-size: 11px;
	position: absolute;
	top:150px;
	right:100px;
	left:100px;
	bottom:100px;
	
}

.contenedor
{
	height:380px;
	width:1100px;
	background-color:#FFFFFF;
	margin:auto;
	font-size: 11px;
	padding:30px;
	}

#autentica
{
	background:#e7dfed;
	border:solid 1px #853457;
	margin:0;
	height:150px;
	width:350px;
	text-align:left;
	padding:25px;
	float: right;
	display: block;
	margin-top: 20px;
	margin-right: 10px;
	color: #853457;
}
.comentario
{
	height:140px;
	width: 500px;
	float: left;
	font-size:12px;
	left:auto;
	background: #e7dfed;
	color: #853457;
	margin-top: 20px;
	border: solid 1px #853457;
	margin-left: 10px;
	padding:30px;
}

.titulo
{
	color:#853457;
	font-size:20px;
	font:bold;
	background-color: #e7dfed;
	border: solid 1px #853457;
	text-align:center;
	width: 1080px;
	margin:10px;
}

.registro
{
	background:#e7dfed;
	border:solid 1px #853457;
	margin:350px;
	width:500px;
	height:200px;
	text-align:left;
	padding:25px;
	display: block;
	margin-top: 20px;
	margin-right: 10px;
	
}	
	
	
/*--------------------------------------------------------------------------------------------------*/
.contmenu
{
height:auto;
width:500px;
background-color:#FFFFFF;



}
/*----------------------------listas--------------------*/
.tipo> li a{
	color:black;
	text-decoration:none;
	border:1px;
	font-family: Arial, Helvetica, sans-serif;

}
.tipo> li {
	list-style-type: none;
	width:20%;
}
.tipo>li a:hover {
	background: #853457;
	color:white;
	
}

/*----------------------------boton de envio--------------------*/

.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6; /* fallback para navegadores que no soporten degradados */
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

input {
	background: white;
}

input:hover {
	background: #FFDDDD;
}

#barra {
	background: #111199;
	color: white;
	right: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#barra-opciones {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.opcion {
	float: left;
	display: block;
	box-sizing: border-box;
	border-bottom: 3px solid #111199;
}

.opcion > a {
	line-height: 20px;
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #2222FF;
	text-decoration: none;
	box-sizing: border-box;
}

.opcion > a:hover {
	color: white;
}

.opcion:hover {
	border-bottom: 3px solid white;
}

#mensajesDiv {
				position: absolute;
				top: 55px;
				width: 30%;
				height: 2em;
				border: 1px solid #ffa500;
				background: #FFFFE0;
				color: #cc8500;
				border-top: none;
				border-radius: 0 0 5px 5px;
				left: 50%;
				margin-left: -15%;
				/*z-index: 1;*/
			}
			
			#mensajesDiv ul{
				list-style-type: none;
				width: 100%;
				text-align: center;
				margin: 0;
				padding: 0;
				padding-top: 5px;
			}
.paginaListado {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

.paginaListado li {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 8px;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	background: white;
}

.paginaListado .sigEnlace::after{
	content: "\2192";
}

.paginaListado .prevEnlace::before {
	content: "\2190";
}

.personaTabla {
	border-collapse:separate;
}

.personaTabla,.personaTabla th, .personaTabla td {
	border: 1px solid #888;
}

.personaTabla tr:nth-child(odd) {
	background-color: #fff;
}

.personaTabla tr:nth-child(even) {
	background-color: #dde;
}

.personaTabla table {
	border-collapse: separate;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 99%;} .datagrid {margin:5px;font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 2px solid #853457; }.datagrid table td, .datagrid table th { padding: 3px 7px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #853457), color-stop(1, #853457) );background:-moz-linear-gradient( center top, #853457 5%, #853457 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#853457', endColorstr='#853457');background-color:#853457; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 0px solid #853457; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #853457; border-left: 1px solid #F7CDCD;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #F7CDCD; color: #853457; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #853457;background: #F7CDCD;} .datagrid table tfoot td { padding: 0; font-size: 11px } .datagrid table tfoot td div{ padding: 0px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px;color: #FFFFFF;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #853457), color-stop(1, #853457) );background:-moz-linear-gradient( center top, #853457 5%, #853457 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#853457', endColorstr='#853457');background-color:#853457; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #853457; color: #FFFFFF; background: none; background-color:#853457;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

.datagrid table thead th a {
	color: white;
	text-decoration: underline;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 2px solid #853457; }.datagrid table td, .datagrid table th { padding: 3px 7px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #853457), color-stop(1, #853457) );background:-moz-linear-gradient( center top, #853457 5%, #853457 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#853457', endColorstr='#853457');background-color:#853457; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 0px solid #853457; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #853457; border-left: 1px solid #F7CDCD;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #F7CDCD; color: #853457; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #853457;background: #F7CDCD;} .datagrid table tfoot td { padding: 0; font-size: 11px } .datagrid table tfoot td div{ padding: 0px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #853457), color-stop(1, #853457) );background:-moz-linear-gradient( center top, #853457 5%, #853457 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#853457', endColorstr='#853457');background-color:#853457; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #853457; color: #FFFFFF; background: none; background-color:#853457;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

.data table { border-collapse: collapse; text-align: left; width: 100%; } .data {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 2px solid #853457; }.data table td, .data  table th { padding: 3px 7px; }.data table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #853457), color-stop(1, #853457) );background:-moz-linear-gradient( center top, #853457 5%, #853457 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#853457', endColorstr='#853457');background-color:#853457; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 0px solid #853457; } .data table thead th:first-child { border: none; }.data table tbody td { color: #853457; border-left: 1px solid #F7CDCD;font-size: 12px;font-weight: normal; }.data table tbody .alt td { background: #F7CDCD; color: #853457; }.data table tbody td:first-child { border-left: none; }.data table tbody tr td { border-bottom: ridge; }.data table tfoot td div { border-top: 1px solid #853457;background: #F7CDCD;} .data table tfoot td { padding: 0; font-size: 11px } .data table tfoot td div{ padding: 0px; }.data table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.data table tfoot  li { display: inline; }.data table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #853457), color-stop(1, #853457) );background:-moz-linear-gradient( center top, #853457 5%, #853457 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#853457', endColorstr='#853457');background-color:#853457; }.data table tfoot ul.active, .data table tfoot ul a:hover { text-decoration: none;border-color: #853457; color: #FFFFFF; background: none; background-color:#853457;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
/* --------------formulario--------------- */

.myform{
margin:50px auto;
width:500px;
padding:60px;
-webkit-border-radius: 15px 15px 15px 15px;
}
#stylized{
border:solid 2px #853457;
background:#fff;
font: normal 14px/180% Arial, Helvetica, sans-serif;

}

.formcuenta{
margin:0 auto;
width:500px;
padding:20px;
-webkit-border-radius: 15px 15px 15px 15px;
}
#styles{
border:solid 2px #853457;
background:#fff;
font: normal 14px/200% Arial, Helvetica, sans-serif;
text-align:left;

}

.formficha{
margin:0 auto;
width:900px;
padding:30px;
-webkit-border-radius: 15px 15px 15px 15px;
}
#stylesFi{
border:solid 2px #853457;
background:#fff;
font: normal 14px/200% Arial, Helvetica, sans-serif;
text-align:left;

}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}

/* Botones */
.button
  {
  border: 1px solid #DBE1EB;
  font-size: 14px;
  font-family: Arial, Verdana;
  margin-top:20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 4px;
  background: #853457;
  color: #FFFFFF;
  }
  
  .button:hover
  {
  background: #555555;
   border-color: #FBFFAD;
  }

  .btnlogin
  {
  border: 1px solid #DBE1EB;
  font-size: 14px;
  font-family: Arial, Verdana;
  margin-top:8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 4px;
  background: #853457;
  color: #FFFFFF;
  }
  
  .btnlogin:hover
  {
  background: #555555;
   border-color: #FBFFAD;
  }
