#columnaIzq {
	float: left;
	width: 200px;
	background: white;
	color: #555555;
	border-bottom-right-radius: 4px;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	margin-top:20px;
	
}

#columnaDer {
	margin-left: 225px;
	text-align: left;
	margin-top:20px;
}

#columnaIzq  h3 {
	width: 100%;
	text-align: center;
}

#columnaIzq  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	
}

#columnaIzq  li {
	display: block;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 10px;
	box-sizing:border-box;
}
