#barra {
	width: 1183px;
	background: -moz-linear-gradient(top,  rgba(214,149,176,0.89) 1%, rgba(214,149,176,0.9) 13%, rgba(133,52,87,0.96) 62%, rgba(133,52,87,1) 99%, rgba(133,52,87,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,149,176,0.89)), color-stop(13%,rgba(214,149,176,0.9)), color-stop(62%,rgba(133,52,87,0.96)), color-stop(99%,rgba(133,52,87,1)), color-stop(100%,rgba(133,52,87,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(214,149,176,0.89) 1%,rgba(214,149,176,0.9) 13%,rgba(133,52,87,0.96) 62%,rgba(133,52,87,1) 99%,rgba(133,52,87,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(214,149,176,0.89) 1%,rgba(214,149,176,0.9) 13%,rgba(133,52,87,0.96) 62%,rgba(133,52,87,1) 99%,rgba(133,52,87,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(214,149,176,0.89) 1%,rgba(214,149,176,0.9) 13%,rgba(133,52,87,0.96) 62%,rgba(133,52,87,1) 99%,rgba(133,52,87,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(214,149,176,0.89) 1%,rgba(214,149,176,0.9) 13%,rgba(133,52,87,0.96) 62%,rgba(133,52,87,1) 99%,rgba(133,52,87,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d695b0', endColorstr='#853457',GradientType=0 ); /* IE6-9 */

	color: white;
	font-size: 16px;
	top: 0;
	z-index: 2;
	height: 55px;
	margin:5px;
}
			
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	z-index: 1;
}
			
.menu > li {
	display: inline-block;
	height: 100%;
	border-right: 1px solid #eeeeee;
	margin: 0;
	padding: 15px;
	width: 150px;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}
			
.menu > li:hover {
	background: -moz-linear-gradient(top,  rgba(214,214,214,0.89) 1%, rgba(214,214,214,0.9) 13%, rgba(148,148,147,0.96) 62%, rgba(126,124,124,1) 99%, rgba(126,124,124,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,0.89)), color-stop(13%,rgba(214,214,214,0.9)), color-stop(62%,rgba(148,148,147,0.96)), color-stop(99%,rgba(126,124,124,1)), color-stop(100%,rgba(126,124,124,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(214,214,214,0.89) 1%,rgba(214,214,214,0.9) 13%,rgba(148,148,147,0.96) 62%,rgba(126,124,124,1) 99%,rgba(126,124,124,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(214,214,214,0.89) 1%,rgba(214,214,214,0.9) 13%,rgba(148,148,147,0.96) 62%,rgba(126,124,124,1) 99%,rgba(126,124,124,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(214,214,214,0.89) 1%,rgba(214,214,214,0.9) 13%,rgba(148,148,147,0.96) 62%,rgba(126,124,124,1) 99%,rgba(126,124,124,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(214,214,214,0.89) 1%,rgba(214,214,214,0.9) 13%,rgba(148,148,147,0.96) 62%,rgba(126,124,124,1) 99%,rgba(126,124,124,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d6d6d6', endColorstr='#7e7c7c',GradientType=0 ); /* IE6-9 */

	border-bottom: 4px solid #eeeeee;
}
			
.menu > li:active {
	background: #888888;
}
			
.menu > li a {
	color: white;
	text-decoration: none;
}
			
.menu > li a:hover {
	text-decoration: underline;
}
			
.menu > li:last-child {
	border-right: none;
}
			
.submenu {
	position: absolute;
	top: 80%;
	left: 0%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #853457;
	visibility: hidden;
	opacity: 0;
	width: 170px;
	-webkit-padding-start: 0;
}
		
.menu > li:hover .submenu {
	visibility: visible;
	top: 100%;
	opacity: 1.0;
	-webkit-transition: top 0.5s, opacity 0.6s;
	transition: top 0.5s, opacity 0.6s;
}

.submenu li {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #eeeeee;
}

.submenu li:hover {
	background: #555555;
}
			
.submenu li:active {
	background: #666666;
}
			
.submenu li:last-child {
	border-bottom: none;
}
			
#logo {
	float: right;
	width: 60px;
	height: 50px;
	margin: 0;
	padding: 0;
}
/* Header */

#header-wrapper {

}

#header {
	clear: left;
	margin: 0;
	
}

#contenido{
  width: 600px;
  margin: auto;
  position: relative;
  
}
