

<tr><th>Nombre:</th><td>{{ object.Nombre }} {{ object.Apellido }}</td></tr>
<tr><th>Cédula:</th><td>{{ object.Cedula }}</td></tr>
<tr><th>Sexo:</th><td>{{ object.get_Sexo_display }}</td></tr>
<tr><th>Nacionalidad:</th><td>{{ object.Nacionalidad.nombre }}</td></tr>
<tr><th>Fecha de Nacimiento:</th><td>{{ object.FechaNacimiento }}</td></tr>
<tr><th>Edad:</th><td>{{ object.Edad }}</td></tr>
<tr><th>Lugar de Nacimiento:</th><td>{{ object.LugarDeNacimiento.nombre }}</td></tr>
<tr><th>Teléfono:</th><td>{{ object.Telefono }}</td></tr>
