<thead>
	<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Cédula</th>
		<th>Sexo</th>
		<th>¿Con quién vive?</th>
	</tr>
</thead>
<tbody>
{% for hijo in listado %}
	<tr>
		<td>{{ hijo.Nombre }}</td>
		<td>{{ hijo.Apellido }}</td>
		<td>{{ hijo.Cedula }}</td>
		<td>{{ hijo.get_Sexo_display }}</td>
		<td>{{ hijo.ViveCon }}</td>
	</tr>
{% endfor %}
</tbody>