<tr><th>Nivel Académico:</th><td>{{ object.get_NivelAcademico_display }}</td></tr>
<tr><th>Estado Civil:</th><td>{{ object.get_EstadoCivil_display }}</td></tr>
<tr><th>Tipo de Vivienda:</th><td>{{ object.TipoDeVivienda }}</td></tr>
<tr><th>Lugar de Trabajo:</th><td>{{ object.Laborales.LugarDeTrabajo }}</td></tr>
<tr><th>Cargo:</th><td>{{ object.Laborales.Cargo }}</td></tr>
<tr><th>Ingreso:</th><td>{{ object.Laborales.Ingreso }}</td></tr>
