<tr><th>¿A quién pertanece el teléfono?</th><td>{{ object.AQuienPertaneceTelefono }}</td></tr>
<tr><th>¿Tiene hijos?</th><td>{{ object.TieneHijos.TieneHijos }}</td></tr>
{% if object.TieneHijos %}
<tr><th>Cantidad de Hijos:</th><td>{{ object.CantidadDeHijos }}</td></tr>
{% endif %}
<tr><th>¿Con quién vive?:</th><td>{{ object.ConQuienVive }}</td></tr>
<tr><th>Nombre de la mamá:</th><td>{{ object.NombreMama }}</td></tr>
<tr><th>Nombre del papá:</th><td>{{ object.NombrePapa }}</td></tr>
<tr><th>Tutor/a o Responsable:</th><td>{{ object.Tutor }}</td></tr>
<tr><th>Escolaridad:</th><td>{{ object.Escolaridad.InstitucionEscolar }}</td></tr>
<tr><th>Laborales: </th><td>{{ object.Laborales.LugarDeTrabajo }}</td></tr>
<tr><th>Vivienda:</th><td>{{ object.Vivienda.TipoVivienda }}</td></tr>
<tr><th>Ingreso Familiar:</th><td>{{ object.IngresoFamiliar.IngresoFamiliarDatos }}</td></tr>    
<tr><th>Habitos:</th><td>{{ object.Habitos.habitos }}</td></tr>    
<tr><th>Noviazgo Adolescente:</th><td>{{ object.Noviazgo }}</td></tr> 