<tr><th>Dirección:</th><td>{{ object.Direccion }}</td></tr>
<tr><th>Barrio:</th><td>{{ object.Barrio }}</td></tr>
<tr><th>Ciudad:</th><td>{{ object.Ciudad }}</td></tr>
<tr><th>Departamento:</th><td>{{ object.Departamento }}</td></tr>