<p class="id_especialista">{{ object.id_especialista }}</p>
<p class="nombre">{{ object.Nombre }} {{ object.Apellido }}</p>
<p class="cedula">{{ object.Cedula }}</p>
<p class="nacimiento">{{ object.FechaDeNacimiento }}</p>
<p class="nacionalidad">{{ object.Nacionalidad }}</p>
<p class="especialidad">{{ object.Especialidad }}</p>
<p class="direccion">{{ object.Direccion }}</p>
<p class="Telefono">{{ object.Telefono }}</p>