<p class="nombre"><a href="{{ object.get_absolute_url }}">{{ object.Nombre }} {{ object.Apellido }}</a></p>
<p class="cedula">{{ object.Cedula }}</p>
<p class="nacimiento">{{ object.FechaNacimiento }}</p>