{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ wizard.form.media }}
{% endblock %}

{% block columnaIzq %}
<h3>Registrar datos personales</h3>
<p>¿Qué tipo de Paciente desea registrar?</p>
<ul class="tipo">
	<li><a href="{% url 'agregar_adulto' %}">Mujer</a></li>
	<li><a href="{% url 'agregar_adolescente' %}">Adolescente</a></li>
	<li><a href="{% url 'agregar_infante' %}">Infante</a></li>
</ul>
	<!-- {% include "elegir_tipo.html" with object=paciente %} -->
	
{% endblock %}

{% block columnaDer %}

 	<script type="text/javascript">

jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});    

        $(document).ready(function() {
           $(".datepicker").datepicker({
			yearRange: "-100:+0",
			changeYear: true,
			changeMonth: true
		   });
        });
    </script>



<div class="formficha" id="stylesFi">
{% if wizard.form.titulo %}
	<h3>{{ wizard.form.titulo }}</h3>
{% endif %}
<form method="post" action="." id="myForm">
<table>
{{ wizard.management_form }}
{{ wizard.form }}
</table>
{% csrf_token %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" class="button" value="{{ wizard.steps.first }}">Volver al principio</button>
<button name="wizard_goto_step" type="submit" class="button" value="{{ wizard.steps.prev }}">Paso previo</button>
{% endif %}
<input type="submit" class="button" value="Guardar"/>
</form>
</div>
<script>
	$("#myForm").validate({
		rules: {"basico-basicos-Nombre": {
				required: true,
				minlength: 2
			},
			"basico-basicos-Apellido": {
				required: true,
				minlength: 2
			},
			"basico-basicos-Nacionalidad": {
				required: true,
				minlength: 5
			},
			"basico-basicos_dir-Direccion": {
				required: true,
				minlength: 10
			},
			"basico-basicos_dir-Barrio": {
				required: true,
				minlength: 4
			},
			"basico-basicos_dir-Ciudad": {
				required: true,
				minlength: 3
			},
			"basico-basicos_dir-Departamento": {
				required: true,
				minlength: 5
			},
			"encargada-encargada-Nombre": {
				required: true,
				minlength: 2
			},
			"encargada-encargada-Apellido": {
				required: true,
				minlength: 2
			},
			"encargada-encargada_dir-Direccion": {
				required: true,
				minlength: 10
			},
			"encargada-encargada_dir-Barrio": {
				required: true,
				minlength: 4
			},
			"encargada-encargada_dir-Ciudad": {
				required: true,
				minlength: 4
			},
			"encargada-encargada_dir-Departamento": {
				required: true,
				minlength: 5
			}
			},
		messages: {
			"basico-basicos-Nombre": {
				required: "Por favor, ingrese el Nombre",
				minlength: "El Nombre debe tener 2 caracteres como  minimo"
			},
			"basico-basicos-Apellido": {
				required: "Por favor, ingrese el Apellido",
				minlength: "El Apellido debe tener 2 caracteres como  minimo"
			},
			"basico-basicos-Nacionalidad": {
				required: "Por favor, ingrese la Nacionalidad",
				minlength: "La  Nacionalidad debe tener 5 caracteres como  minimo"
			},
			"basico-basicos_dir-Direccion": {
				required: "Por favor, ingrese una dirección",
				minlength: "La  dirección debe tener 10 caracteres como  minimo"
			},
			"basico-basicos_dir-Barrio": {
				required: "Por favor, un barrio",
				minlength: "El nombre del barrio debe tener 4 caracteres como  minimo"
			},
			"basico-basicos_dir-Ciudad": {
				required: "Por favor, ingrese una ciudad",
				minlength: "El nombre de la ciudad debe tener 3 caracteres como  minimo"
			},
			"basico-basicos_dir-Departamento": {
				required: "Por favor, ingrese un departamento",
				minlength: "El nombre del departamento debe tener 5 caracteres como  minimo"
			},
			"encargada-encargada-Nombre": {
				required: "Por favor, ingrese el Nombre",
				minlength: "El Nombre debe tener 2 caracteres como  minimo"
			},
			"encargada-encargada-Apellido": {
				required: "Por favor, ingrese el Apellido",
				minlength: "El Apellido debe tener 2 caracteres como  minimo"
			},
			"encargada-encargada_dir-Direccion": {
				required: "Por favor, ingrese una dirección",
				minlength: "La  dirección debe tener 10 caracteres como  minimo"
			},
			"encargada-encargada_dir-Barrio": {
				required: "Por favor, un barrio",
				minlength: "El nombre del barrio debe tener 4 caracteres como  minimo"
			},
			"encargada-encargada_dir-Ciudad": {
				required: "Por favor, ingrese una ciudad",
				minlength: "El nombre de la ciudad debe tener 4 caracteres como  minimo"
			},
			"encargada-encargada_dir-Departamento": {
				required: "Por favor, ingrese un departamento",
				minlength: "El nombre del departamento debe tener 5 caracteres como  minimo"
			}
		}
	});
	</script>
{% endblock %}