{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ wizard.form.media }}
<script type="text/javascript" src="/static/js/jquery.formset.min.js"></script>
{% if wizard.form.forms %}


{% endif %}
{% endblock %}


{% block columnaIzq %}
<h3>Registrar datos personales</h3>
<p>¿Qué tipo de Paciente desea registrar?</p>


<ul class="tipo">
	<li><a href="{% url 'agregar_adulto' %}">Mujer</a></li>
	<li><a href="{% url 'agregar_adolescente' %}">Adolescente</a></li>
	<li><a href="{% url 'agregar_infante' %}">Infante</a></li>
</ul>
	
{% endblock %}
{% block columnaDer %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}" />
	
 	<script type="text/javascript">

jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});    

       $(document).ready(function() {
           $(".datepicker").datepicker({
			yearRange: "-100:+0",
			changeYear: true,
			changeMonth: true
		   });
        });
    </script>

{% if wizard.form.titulo %}
	<h3>{{ wizard.form.titulo }}</h3>
{% endif %}

<div class="formficha" id="stylesFi">
<form method="post" action="." id="myForm">
<h3>Datos Básicos</h3>
<table>
{{ wizard.management_form }}
{{ wizard.form }}
</table>
{% csrf_token %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="button" type="submit" value="{{ wizard.steps.first }}">Volver al principio</button>
<button name="wizard_goto_step" class="button" type="submit" value="{{ wizard.steps.prev }}">Paso previo</button>
{% endif %}
<input type="submit" class="button" value="Guardar"/>
</form>
</div>
{% if wizard.form.forms %}
<script type="text/javascript">
	$(function() {
    $('#myForm tbody tr').formset({
      prefix: '{{ wizard.form.prefix }}'
    });
 });
</script>
{% endif %}
<script>
	$("#myForm").validate({
		rules: {"basico-Nombre": {
				required: true,
				minlength: 2
			},
			"basico-Apellido": {
				required: true,
				minlength: 2
			},
			"basico-Nacionalidad": {
				required: true,
				minlength: 5
			},
			"basico-NombreMama": {
				required: true,
				minlength: 4
			},
			"basico-NombrePapa": {
				required: true,
				minlength: 4
			},
			"basico-Tutor": {
				required: true,
				minlength: 4
			},
			"direccion-Direccion": {
				required: true,
				minlength: 10
			},
			"direccion-Barrio": {
				required: true,
				minlength: 4
			},
			"direccion-Ciudad": {
				required: true,
				minlength: 3
			},
			"direccion-Departamento": {
				required: true,
				minlength: 5
			}
			},
		messages: {
			"basico-Nombre": {
				required: "Por favor, ingrese el Nombre",
				minlength: "El Nombre debe tener 2 caracteres como  minimo"
			},
			"basico-Apellido": {
				required: "Por favor, ingrese el Apellido",
				minlength: "El Apellido debe tener 2 caracteres como  minimo"
			},
			"basico-Nacionalidad": {
				required: "Por favor, ingrese la Nacionalidad",
				minlength: "La  Nacionalidad debe tener 5 caracteres como  minimo"
			},
			"basico-NombreMama": {
				required: "Por favor, ingrese el nombre de la mamá",
				minlength: "El nombre de la mamá debe tener 4 caracteres como  minimo para que sea válido"
			},
			"basico-NombrePapa": {
				required: "Por favor, ingrese el nombre del papá",
				minlength: "El nombre del papá debe tener 4 caracteres como  minimo para que sea válido"
			},
			"basico-Tutor": {
				required: "Por favor, ingrese el nombre del Tutor",
				minlength: "El nombre del papá debe tener 4 caracteres como  minimo para que sea válido"
			},
			"direccion-Direccion": {
				required: "Por favor, ingrese una dirección",
				minlength: "La  dirección debe tener 10 caracteres como  minimo"
			},
			"direccion-Barrio": {
				required: "Por favor, un barrio",
				minlength: "El nombre del barrio debe tener 4 caracteres como  minimo"
			},
			"direccion-Ciudad": {
				required: "Por favor, ingrese una ciudad",
				minlength: "El nombre de la ciudad debe tener 3 caracteres como  minimo"
			},
			"direccion-Departamento": {
				required: "Por favor, ingrese un departamento",
				minlength: "El nombre del departamento debe tener 5 caracteres como  minimo"
			}
		}
	});
	</script>
{% endblock %}