{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ form.media }}
<script type="text/javascript" src="{% static 'js/agregarHijos.js' %}"></script>
{% endblock %}

{% block columnaIzq %}
<h3>Registrar datos personales</h3>
<p>¿Qué tipo de Paciente desea registrar?</p>
<ul class="tipo">
	<li><a href="{% url 'agregar_adulto' %}">Mujer</a></li>
	<li><a href="{% url 'agregar_adolescente' %}">Adolescente</a></li>
	<li><a href="{% url 'agregar_infante' %}">Infante</a></li>
</ul>
	<!-- {% include "elegir_tipo.html" with object=paciente %} -->
	
{% endblock %}
{% block columnaDer %}

 	<script type="text/javascript">

jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});    

        $(document).ready(function() {
           $(".datepicker").datepicker({
			yearRange: "-100:+0",
			changeYear: true,
			changeMonth: true
		   });
        });
    </script>
<div class="formficha" id="stylesFi">
<form id="cargarmujer" method="post" action=".">
<h3>Datos Básicos</h3>
<table>
	{{ form.as_table }}
</table>
{% for f in extras %}
	{% if f.titulo %}
	<h3>{{ f.titulo }}</h3>
	{% if f.is_formset %}
			<a href="#" id="agregarHijo">Agregar más</a>
		{% endif %}
	{% endif %}
	<table {% if f.is_formset %}id = "formset"{% endif %}>
		{{ f }}
	</table>
{% endfor %}
{% csrf_token %}
<input type="submit" class="button" value="Guardar" />
</form>
</div>
<script>
    $('#agregarHijo').click(function() {
        cloneMore('#formset tr:last', 'hijos');
        return false;
    });
</script>
<script>
	$("#cargarmujer").validate({
		rules: {"paciente-Nombre": {
				required: true,
				minlength: 2
			},
			"paciente-Apellido": {
				required: true,
				minlength: 2
			},
			"direccion-Direccion": {
				required: true,
				minlength: 10
			},
			"direccion-Barrio": {
				required: true,
				minlength: 4
			},
			"direccion-Ciudad": {
				required: true,
				minlength: 3
			},
			"direccion-Departamento": {
				required: true,
				minlength: 5
			}
			},
		messages: {
			"paciente-Nombre": {
				required: "Por favor, ingrese el Nombre de la Mujer",
				minlength: "El Nombre debe tener 2 caracteres como  minimo"
			},
			"paciente-Apellido": {
				required: "Por favor, ingrese el Apellido de la Mujer",
				minlength: "El Apellido debe tener 2 caracteres como  minimo"
			},
			"direccion-Direccion": {
				required: "Por favor, ingrese una dirección",
				minlength: "La  dirección debe tener 10 caracteres como  minimo"
			},
			"direccion-Barrio": {
				required: "Por favor, un barrio",
				minlength: "El nombre del barrio debe tener 4 caracteres como  minimo"
			},
			"direccion-Ciudad": {
				required: "Por favor, ingrese una ciudad",
				minlength: "El nombre de la ciudad debe tener 3 caracteres como  minimo"
			},
			"direccion-Departamento": {
				required: "Por favor, ingrese un departamento",
				minlength: "El nombre del departamento debe tener 5 caracteres como  minimo"
			}
		}
	});
	</script>
{% endblock %}