{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
	

<h3>Registrar datos personales</h3>
<p>¿Qué tipo de Paciente desea registrar?</p>
<ul class="tipo">
	<li><a href="{% url 'agregar_adulto' %}">Mujer</a></li>
	<li><a href="{% url 'agregar_adolescente' %}">Adolescente</a></li>
	<li><a href="{% url 'agregar_infante' %}">Infante</a></li>
</ul>
{% endblock %}
