{% extends "base.html" %}
{% load static %}
{% block contenido %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.min.js' %}"></script>
 	<script type="text/javascript">
jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});    

        $(document).ready(function() {
           $(".datepicker").datepicker({
			yearRange: "-100:+0",
			changeYear: true,
			changeMonth: true
		   });
        });
    </script>

<h1>Registro de Pacientes Infante</h1>

<form method="POST" action=".">

	<table>
		{{ form.as_table }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Guardar" />
	
</form>
{% endblock %}
