{% extends "base.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ form.media }}
{% endblock %}
{% block contenido %}
<div class="buscar" id="estilob">
<form action="." method="get">
	Nombre  <input name="nombre" type="search"><br>
	Apellido  <input name="apellido" type="search"><br>
	Cédula de Identidad   <input name="cedula" type="search"><br>
	<input type="submit" class="button" value="Buscar">
</form>
</div>

<div class="datagrid">
<table>
<thead><tr>
	<th><a href="?consulta={{ consulta }}&orden=tipo">Tipo</a></th>
	<th><a href="?consulta={{ consulta }}&orden=Nombre">Nombre</a></th>
	<th><a href="?consulta={{ consulta }}&orden=Apellido">Apellido</a></th>
	<th>Ver</th>
{% if user.Especialidad = 1 or user.tipo = 2 or user.tipo = 0%}
	<th>Editar</th>
{%endif%}
</tr></thead>
<tbody>
{% for paciente in object_list %}
<tr>
<td>{{ paciente.tipo_ficha }}</td>
<td>{{ paciente.Nombre }}</td>
<td>{{ paciente.Apellido }}</td>
<td><a href="{{ paciente.get_absolute_url }}"><img src="{% static 'img/lupa.png' %}" width="15" height="15"></a></td>
{% if user.Especialidad = 1 or user.tipo = 2 or user.tipo = 0 %}
<td><a href="{{ paciente.get_modificar_url }}"><img src="{% static 'img/editar.png' %}" width="15" height="15"></a></td>
{%endif%}
</tr>

{% empty %}
<tr colspan="4">No se encontr&oacute; resultados. <a href="{% url 'agregar_persona' %}">Agregar</a></tr>
{% endfor %}
{% if is_paginated %}
<ul class="paginaListado">
{% if page_obj.has_previous %}
<li><a href="?consulta={{ consulta }}&page={{ page_obj.previous_page_number }}" class="prevEnlace">Anterior</a></li>
{% endif %}
{% for ele in page_obj.paginator.page_range %}
<li><a href="?consulta={{ consulta }}&page={{ ele }}">{{ ele }}</a></li>
{% endfor %}
{% if page_obj.has_next %}
<li><a href="?consulta={{ consulta }}&page={{ page_obj.next_page_number }}" class="sigEnlace">Siguiente</a></li>
{% endif %}
</ul>
{% endif %}
</tbody>
</table>
</div>
{% endblock %}