{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
	{% include "partes/persona_menu.html" %}
{% endblock %}
{% block columnaDer %}


	<table>
		<tbody>
			{% include "partes/datos_basicos.html" %}
		</tbody>
	</table>


	<table>
		<tbody>
			{% include "partes/detalles_adolescentes.html" %}
		</tbody>
	</table>
	<table>
		<tbody>
			{% include "partes/direccion.html" with object=object.Direccion %}
		</tbody>
	</table>
		
{% endblock %}