{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
	{% include "partes/persona_menu.html" %}
{% endblock %}
{% block columnaDer %}
	<table>
		<tbody>
			{% include "partes/datos_basicos.html" %}
		</tbody>
	</table>
	<table>
		<tbody>
			{% include "partes/detalles_adultos.html" %}
		</tbody>
	</table>
	<table>
		<tbody>
			{% include "partes/direccion.html" with object=object.Direccion %}
		</tbody>
	</table>
	{% if object.datosdelhijo_set.count %}
		<table>
			{% include "partes/detalles_hijos.html" with listado=object.datosdelhijo_set.all %}
		</table>
	{% endif %}
    
{% endblock %}