{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
    {% include "partes/persona_menu.html" %}
{% endblock %}
{% block columnaDer %}

<div class="data">
<h1>Datos B&aacute;sicos</h1>
<div class="datagrid">
    <table>
    <!-- Este muestra los Datos Básicos de Adultos (Mujer), y este autovista en particular esta en el view Personas, en la función ver_adulto -->
       {{ autovista.as_table }}
    </table>
    </div>
	<div align="right"><a href="{% url 'imprimir_adulto' paciente=object.pk %}"><img src="{% static 'img/printer.png' %}" width="32" height="32"></a></div>

        <h1>Fichas del Paciente</h1>
	
	<table>
		<thead>
			<tr><th>Sociales</th><th>Ginecológicas</th><th>Jurídicas</th><th>Psicológicas</th><th>Psicosociales</th></tr>
		</thead>
		<tbody>
		<tr>
			<td>
            {% for ficha in fichas %}
            <li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>
            {% endfor %}
            </td>
            <td>
            {% for ficha in fichasginecologicas %}
            <li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>
            {% endfor %}
            <td>
            {% for ficha in fichasjurid %}
            <li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>
            {% endfor %}
            </td>
            <td>
            {% for ficha in fichasPsico %}
            <li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>
            {% endfor %}
            </td>
            <td>
            {% for ficha in fichasPsicosociales %}
            <li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>
            {% endfor %}
            </td>
		</tr>
		</tbody>
	</table>
    </div>
{% endblock %}