{% load static %}
 <div id="header-wrapper">
<img src="/static/img/image.png" width="1190" height="250">
    <div id="header">
   
    </div>
	
</div>
<div id="barra">
    <img src="{% static 'img/logo-princ.png' %}" id="logo">
    <ul class="menu">
        <li>
            Consultorios&#x25bc;
            <ul class="submenu">
                <li><a href="{% url 'RegistrarConsultorio' %}">Registrar</a></li>
                <li><a href="{% url 'lista_consultorio' %}">Listado</a></li>
            </ul>
        </li>
        <li>
            Pacientes&#x25bc;
            <ul class="submenu">
                <li><a href="{% url 'agregar_persona' %}">Agregar</a></li>
                <li><a href="{% url 'buscar_persona' %}">Buscar</a></li>
            </ul>
        </li>
        <li><a href="{% url 'generar_informe' %}">Informes</a></li>
        {% if user.is_staff %}
            <li>
                <a href="{% url 'Administracion' %}">Administrar</a>&#x25bc;
                <ul class="submenu">
                    <li><a href="{% url 'backup' %}">Backup</a></li>
                    <li><a href="{% url 'fichero' %}">Revisar Fichero</a></li>
                    <li><a href="{% url 'usuariosListado' %}">Administrar Usuarios</a></li>
                    <li><a href="{% url 'registrar' %}">Crear Nuevo Usuario</a></li>
                </ul>
            </li>
        {% endif %}
		<li><a href="{% url 'verNotificaciones' %}">Notificaciones</a></li>
		
        <li>
            Cuenta &#x25bc;
            <ul class="submenu">
                <li><a href="{% url 'configurar_usuario' %}">Configuraci&oacute;n</a></li>
                <li><a href="{% url 'salir' %}">Salir</a></li>
            </ul>
        </li>
        
            
    </ul>
    
</div>
