﻿
<h3>Opciones</h3>
<ul class="tipo">
	<li><a href="{{ object.get_absolute_url }}">Datos Básicos</a></li>
    {%comment%} Lo que va a hacer es el mismo bucle de siempre, pero va a mostrar el enlace o menu solo si la especialidad del que se loggea
 corresponde con el nombre de la ficha_url{%endcomment%}
            {% for ficha_url in object.get_ficha_urls %}
            {% if user.tipo = 2 %}
                <li><a href="{{ ficha_url.url }}">{{ ficha_url.nombre }}</a></li>
            {% endif%}
            {% if user.Especialidad = 1 and 'social' == ficha_url.tipo %}
                <li><a href="{{ ficha_url.url }}">{{ ficha_url.nombre }}</a></li>
            {% endif%}
            
            {% if user.Especialidad = 4 and 'medica' == ficha_url.tipo %}
                <li><a href="{{ ficha_url.url }}">{{ ficha_url.nombre }}</a></li>
            {% endif%}
            
            {% if user.Especialidad = 2 and 'juridica' == ficha_url.tipo %}
                <li><a href="{{ ficha_url.url }}">{{ ficha_url.nombre }}</a></li>
            {% endif%}
            
            {% if user.Especialidad = 3 and 'psicologica' == ficha_url.tipo %}
                <li><a href="{{ ficha_url.url }}">{{ ficha_url.nombre }}</a></li>
            {% endif%}
            
            {% if user.Especialidad = 3 and 'psicosocial' == ficha_url.tipo %}
                <li><a href="{{ ficha_url.url }}">{{ ficha_url.nombre }}</a></li>
            {% endif%}
             
        {% endfor %}
</ul>
<h3>Acciones</h3>
<ul class="tipo">
{% if user.Especialidad = 1 or user.tipo = 2 or user.tipo = 0%}
<li><a href="{{ object.get_modificar_url }}">Modificar</a></li>
{% endif%}
<li><a href="{% url 'crear_notificacion' paciente=object.pk %}">Notificar</a></li>
</ul>
