{% extends "base.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}

{{ form.media }}
{% endblock %}
{% block contenido %}
<h3>Listado de Consultorios</h3>
 <!--{% include "consultorio_detalle1.html"%}-->
 <div class="datagrid">
<table>
<thead><tr><th>Nro Sala</th><th>Especialidad</th ><th>Especialista</th> <th>Fecha Desde</th><th>Fecha Hasta</th><th>Editar</th><th>Borrar</th></tr></thead>
	{% for c in object_list %}
	<tr>
	
		<td>{{ c.sala_nro }}</td>
		<td>{{ c.especialidad }}</td>
		<td>{{ c.especialista_asignado }}</td>
		<td>{{ c.FechaDesde }}</td>
		<td>{{ c.FechaHasta }}</td>
		<td><a href="Modificar/{{ c.pk }}"><img src="{% static 'img/editar.png' %}" width="15" height="15"></a></td>
		<td><a href="Borrar/{{ c.pk }}"><img src="{% static 'img/eliminar.gif' %}" width="15" height="15"></a></td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}


