<div class="myform" id="styles">
<h3>Consultorio Registrado</h3>
<table>
<tr><th>Nro. Sala:</th><td>{{ object.sala_nro }}</td></tr>
<tr><th>Especialidad:</th><td>{{ object.especialidad }}</td></tr>
<tr><th>Especialista Asignado:</th><td>{{ object.especialista_asignado }}</td></tr>
<tr><th>Fecha Desde:</th><td>{{ object.FechaDesde }}</td></tr>
<tr><th>Fecha Hasta:</th><td>{{ object.FechaHasta }}</td></tr>
</table>
</div>