{% load static %}
<!DOCTYPE html>
<html lang='es'>
<head>
{% block cabecera %}
<title>Kuña Aty</title> 
<link rel="icon" href="{% static 'img/favicon-32.png' %}" sizes="32x32">
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
	{% if user.is_authenticated %}
		<link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css" />
	{% endif %}
{% endblock cabecera %}
</head>
<body>
{% block barra %}
	{% if user.is_authenticated %}
		{% include "partes/menu.html" %}
	{% endif %}
{% endblock %}
{% block mensajes %}
{% if user.is_authenticated and user.tiene_mensajes_nuevos or messages %}
<div id="mensajesDiv">
	<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		{% if user.tiene_mensajes_nuevos %}
			<li>Hay <a href="{% url 'verNotificaciones' %}">notificaciones nuevas</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
<div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
{% endblock contenido %}
</body>
</html>