{% extends "base.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/columnas.css' %}" />
{% endblock %}
{% block contenido %}
<div id="columnaIzq">
	{% block columnaIzq %}
	{% endblock %}
</div>
<div id="columnaDer">
	{% block columnaDer %}
	{% endblock %}
</div>
{% endblock contenido %}