{% extends "base.html" %}
{% load static %}
{% block contenido %}

<div class="container1">

<div class="contenedor">
	<div><img src="{% static 'img/logo_prin.gif' %}" width="650" height="100"></div>
	<div class="titulo">
		KAGeSys- "Sistema de Gesti&oacute;n de Pacientes de la Fundaci&oacute;n Ku&ntilde;a Aty"
	</div>
	<div class="comentario">
		<p><strong>KAGESYS</strong></p>
		<p align="justify">  Esta aplicación es una herramienta que permite a los funcionarios de la Fundación a gestionar los pacientes victimas de abusos/violencia que son asistidos en la misma</p>
		<p align="justify">Tiene por objeto registrar y almacenar informaci&oacute;n sobre las victimas que son atendidas con fines estad&iacute;sticos y de seguimiento de casos, así como la optimización de la gestión.</p>
	</div>
	<div id="autentica">
		<h2>Buscar</h2>
		<form action="{% url 'buscar_persona' %}" method="GET">
			<input type="text" name="consulta" />
			<input type="submit" class="button" value="Buscar" />
		</form>
		<p><a href="{% url 'agregar_persona' %}">Agregar Paciente</a></p>
	</div>
</div>
</div>

{% endblock contenido %}