{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ ficha.media }}
{% endblock %}
{% block columnaIzq %}
{% include "partes/persona_menu.html" with object=paciente %}	
{% endblock %}
{% block columnaDer %}
<script type="text/javascript">

jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});    

        $(document).ready(function() {
           $(".datepicker").datepicker({
			yearRange: "-100:+0",
			changeYear: true,
			changeMonth: true
		   });
        });
    </script>
<div class="formficha" id="stylesFi">
<h1>Ficha</h1>
<form id="finalizado" method ="post" action=".">
	<table>
		{{ ficha.as_table }}
	</table>
	{% for f in extras %}
		{% if f.titulo %}
			<h3>{{ f.titulo }}</h3>
		{% endif %}
		<table>
			{{ f }}
		</table>
	{% endfor %}
	<h4>Observaciones</h4>
{{ obs.management_form }}
{{ obs.non_form_errors }}
<table id="formset" class="form">
{% for form in obs %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
   
   {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
	{% csrf_token %}
	<input type="submit" class="button" value="Guardar" />
</form>
</div>
{%comment%}{%if "ficha-Finalizado" %}
<script>
	$("#finalizado").validate({
		rules: {"ficha-Fecha_Inicio": {
				required: true
			},
			"ficha-Fecha_Resolucion": {
				required: true
			},
			"ficha-Nro_Resolucion": {
				required: true
			},
			"ficha-Juzgado": {
				required: true
			},
			"ficha-Secretaria": {
				required: true
			},
			"ficha-Caratula_Expediente": {
				required: true
			}
			},
		messages: {
			"ficha-Fecha_Inicio": {
				required: "La Fecha de Inicio es requirida para finalizar este caso"
			},
			"ficha-Fecha_Resolucion": {
				required: "La Fecha de Resolución es requirida para finalizar este caso"
			},
			"ficha-Nro_Resolucion": {
				required: "El Nro. de Resolución es requirido para finalizar este caso"
			},
			"ficha-Juzgado": {
				required: "Indique el Juzgado para finalizar este caso"
			},
			"ficha-Secretaria": {
				required: "Este dato es necesario para finalizar este caso"
			},
			"ficha-Caratula_Expediente": {
				required: "Indique la Carátula para finalizar este caso"
			}
		}
	});
	</script>
{%endif%}
{%endcomment%}
{% endblock %}

