{% extends "columna_pagina.html" %}
{% load static %}
{% block columnaIzq %}
	{% include "partes/persona_menu.html" with object=paciente %}
{% endblock %}
{% block columnaDer %}
<div class="data">
	<h1>Ficha {{ tipo|capfirst }}</h1>
	<div class="datagrid">
	<ul>
    
		{% for ficha in fichas %}
		<li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>	
		{% endfor %}
        {% if user.Especialidad = 3 and tipo == 'psicologica'%}
		<li><a href="{% url 'crearFicha' pk=paciente.pk tipo=tipo %}">Crear Consulta Nueva</a></li>
        {%endif%}
        
        {% if user.Especialidad = 2 and tipo == 'juridica'%}
		<li><a href="{% url 'crearFicha' pk=paciente.pk tipo=tipo %}">Crear Consulta Nueva</a></li>
        {%endif%}
        
        {% if user.Especialidad = 4 and tipo == 'medica'%}
		<li><a href="{% url 'crearFicha' pk=paciente.pk tipo=tipo %}">Crear Consulta Nueva</a></li>
        {%endif%}
        
        {% if user.Especialidad = 1 and tipo == 'social'%}
		<li><a href="{% url 'crearFicha' pk=paciente.pk tipo=tipo %}">Crear Consulta Nueva</a></li>
        {%endif%}
        
	</ul>
	</div>
	<div class="datagrid">
    <h1>Historial Fichas del Paciente</h1>
	
	<table>
		<thead>
		<th align="center">Ficha {{ tipo|capfirst }}</th></tr>
		</thead>
		<tbody>
		<tr>
			<td align="center">
            {% for ficha in fichasFinalizado %}
            <li><a href="{{ ficha.get_absolute_url }}">{{ ficha.FechaActualizada }}</a></li>
            {% endfor %}
            </td>
          		</tr>
	</table>
	</div>
{% endblock %}