<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<style type="text/css">
h1{
color: black;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border-bottom: 1px solid #585858; }.datagrid table td, .datagrid table th { padding: 7px 7px; }
.data table  td { color: #853457; border-left: 1px solid #F7CDCD;font-size: 12px;font-weight: normal; }.data table .alt td { background: #F7CDCD; color: #853457; }.data table  td:first-child { border-left: none; }.data table  tr td { border-bottom: ridge; }.data table tfoot td div { border-top: 1px solid #853457;background: #F7CDCD;} .data table tfoot td { padding: 0; font-size: 11px }
</style>
 
<!-- ..\static\img\image.jpg" style="zoom: 85%; ">C:\proyecto\ku-a-aty\static\img\image.jpg" style="zoom: 50%; "> -->
 

</head>


<body>
<div align="center"><img src="C:\proyecto\ku-a-aty\static\img\image.jpg" style="zoom: 80%;"></div>
<h1 align= "center">Ficha {{ object.ficha_type | capfirst }}</h1>
<div class="datagrid">
<table>
    <!-- Este muestra los Datos Básicos de Adultos (Mujer), y este autovista en particular esta en el view Personas, en la función ver_adulto -->
{%if object.ficha_type == 'medica'%}
    {{ autovista.as_table }}
{% else %}
{{ autovista.as_p }}
{%endif%}
</table>
</div>
</body>
</div>