{% extends "base.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ form.media }}
{% endblock %}
{% block contenido %}
<form method="POST" action="{% url 'agregar_paciente' %}">
<table>
	{{ form.as_table }}
</table>
<h2>Hijos</h2>
{{ hijos.management_form }}
{{ hijos.non_form_errors }}
<table id="formset" class="form">
{% for form in hijos %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% csrf_token %}
<input type="submit" value="Guardar" />
<input type="submit" value="Nuevo" />
<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}