{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ ficha.media }}
{{ agresor.media }}
{% endblock %}
{% block columnaIzq %}
	{% include "partes/persona_menu.html" with object=object.Paciente %}
{% endblock %}
{% block columnaDer %}


<h1>Ficha {{ object.ficha_type | capfirst }}</h1>
{% if user.Especialidad = 1 and object.ficha_type == 'social' and object.Finalizado = False %}
<a href="{{ object.get_modificar_enlace }}">Modificar</a>
{%endif%}

{% if user.Especialidad = 3 and object.ficha_type == 'infantil' and object.Finalizado = False %}
<a href="{{ object.get_modificar_enlace }}">Modificar</a>
{%endif%}

{% if user.Especialidad = 3 and object.ficha_type == 'psicologica' and object.Finalizado = False %}
<a href="{{ object.get_modificar_enlace }}">Modificar</a>
{%endif%}

{% if user.Especialidad = 4 and object.ficha_type == 'medica' and object.Finalizado = False %}
<a href="{{ object.get_modificar_enlace }}">Modificar</a>
{%endif%}

{% if user.Especialidad = 2 and object.ficha_type == 'juridica' and object.Finalizado = False %}
<a href="{{ object.get_modificar_enlace }}">Modificar</a>
{%endif%}

<div class="data">
<table>
    <!-- Este muestra los datos de las fichas de adulto y este autovista en particular (porque hay varios) está definido en view de Especialistas -->
	{{ autovista.as_table }} 
</table>
<h4>Observaciones</h4>
<table>
	<thead>
		<tr><th>Fecha</th><th>Observación</th></tr>
	</thead>
	<tbody>
		{% for ob in object.observacion_set.all %}
			<tr>
				<td>{{ ob.fecha }}</td><td>{{ ob.texto }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

<div align="right">
{%if object.ficha_type != 'infantil'%}
<a href="{% url 'imprimir_ficha' pk=object.Paciente_id tipo=object.ficha_type ficha_pk=object.pk %}"><img src="{% static 'img/printer.png' %}" width="32" height="32"></a>
{%else%}
<a href="{% url 'imprimir_ficha' pk=object.Paciente_id tipo='psicosocial' ficha_pk=object.pk %}"><img src="{% static 'img/printer.png' %}" width="32" height="32"></a>
{%comment%}<a href="{{ object.get_absolute_url }}">{{ ficha.FechaActualizada }}<img src="{% static 'img/printer.png' %}" width="32" height="32" align="right"></a>{%endcomment%}
{%endif%}
</div>
{% endblock %}
