{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ ficha.media }}
{{ agresor.media }}
{% endblock %}
{% block columnaIzq %}
	{% include "partes/persona_menu.html" with object=object.Paciente %}
{% endblock %}
{% block columnaDer %}

<h1>Ficha {{ object.ficha_type | capfirst }}</h1>
<a href="{% url 'modificar_ficha_infante' object.Paciente_id object.pk %}">Modificar</a>

<table>
	<tbody>
		{% for nombre, valor in object.sub_model.get_fields %}
		<tr><td>{{ nombre }}</td><td>{{ valor }}</td></tr>
		{% endfor %}
	</tbody>
</table>
<h1>Observaciones</h1>
<table>
	<thead>
		<tr><th>Fecha</th><th>Observación</th></tr>
	</thead>
	<tbody>
		{% for ob in object.observacion_set.all %}
			<tr>
				<td>{{ ob.fecha }}</td><td>{{ ob.texto }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}

