{% extends "columna_pagina.html" %}
{% load static %}
{% block cabecera %}
	{{ block.super }}
	{{ form.media }}
{% endblock %}
{% block columnaIzq %}
	<h3>Configuración</h3>
	<ul class="tipo">
		<li><a href="{% url 'configurar_usuario' %}">Datos Personales</a></li>
		<li><a href="{% url 'cambiar_contrasenha' %}">Contraseña</a></li>
	</ul>
{% endblock %}
{% block columnaDer %}
<div class="formcuenta" id="styles">
<form method="post" action=".">
<h3>Datos Personales</h3>
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	{% if extras %}
		{% for f in extras %}
			{% if f.titulo %}<h3>{{ f.titulo }}</h3>{% endif %}
			<table>
				{{ f }}
			</table>
		{% endfor %}
	{% endif %}
	<input type="submit" class="button" value="Guardar" />
</form>
</div>
{% endblock %}