{% extends "base.html" %}
{% load static %}
{% block cabecera %}
{{ block.super }}
{{ form.media }}
{% endblock %}
{% block contenido %}
<h1>Usted acaba de salir del Sistema.</h1>
<p>Para volver a Ingresar pulse en Login</p>
	<div>
	
	<a href="{% url 'ingresar' %}">Login</a>
	
	</div>
{% endblock %}