{% extends "columna_pagina.html" %}
{% load static %}

{% block contenido %}

	<h1>Notificaciones</h1>
	<div class="data">
	<table>
		<thead>
			<tr><th>Notificado Por:</th><th>Paciente</th><th>Mensaje</th></tr>
		</thead>
		<tbody>
		{% for Mensaje in Mensajes %}
		<tr>
            <td>{{Mensaje.notificador}}</td>
			<td>{% if Mensaje.Paciente %}<a {% if Mensaje.Nuevo%}class="nuevo"{% endif %} href="?paciente={{ Mensaje.Paciente.pk }}&mensaje={{ Mensaje.pk }}">{{ Mensaje.Paciente }}</a>{% endif %}</td>
			<td>{{ Mensaje.Texto }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}