{% if pg.has_other_pages %}
<tr>
<th colspan="3">
{% if pg.has_previous %}
<a href="?`p={{ pg.previous_page_number }}" class="prevEnlace">Anterior</a>
{% endif %}
{% for ele in pg.paginator.page_range %}
<a href="?p={{ ele }}">{{ ele }}</a>
{% endfor %}
{% if pg.has_next %}
<a href="?p={{ pg.next_page_number }}" class="sigEnlace">Siguiente</a>
{% endif %}
</th>
</tr>
{% endif %}